source ./variables

fpm_config_file=`find /etc/php -name www.conf | head -n 1`
fpm_socket_path=`cat $fpm_config_file | grep -e ".sock$" | cut -d '=' -f 2 | tr -d ' '`

cat << EOF
server {
  listen $APP_PORT;

  root /home/$APP_USER/app;
  index index.php;
  client_max_body_size 25M;

  location / {
    try_files \$uri \$uri/ /index.php\$is_args\$args;
  }

  location ~ .php$ {
    fastcgi_pass unix:$fpm_socket_path;
    fastcgi_index index.php;
    fastcgi_param App-Root /home/$APP_USER/app;
    fastcgi_param HTTP_HOST $HOSTNAME;
    fastcgi_param HTTPS $https if_not_empty;
    include fastcgi.conf;
  }

  location ~* .(js|css|png|jpg|jpeg|gif|ico)$ {
    expires max;
    log_not_found off;
  }
}
EOF
